#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  padding: 0em 2em;
  background-color: $BGColorDark;
  color: $FColorLighter;
  height: $height;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  @media print {
      display: none;
  }
  .logo {
    width: $height;
    height: $height;
    float: left;
  }
  .header {
    align-self: center;
    margin-right: auto;
    padding-left: $medium;
    line-height: $height;
    font-size: $largeFont;
    @media (max-width: $maxMedia) {
      font-size: $mediumFont;
    }
  }
  .actions {
    align-self: center;
  }
  button {
    border : $largeBorder black;
    border-radius: $small;
    font-size: $mediumFont;
    padding: $medium;
    background-color: $BGColorLight;
    color: $FColorLight;
    @media (max-width: $maxMedia) {
      font-size: $smallFont;
      padding: $small;
      border: $smallBorder black;
      & i {
        display: none;
      }
    }
  }
  button:hover {
    background-color: $BGColorLighter;
    color: $FColorDark;
  }
}