.new-tweet {
  background-color: $backgroundColor;
  border: 1px solid $borderColor;
  border-radius: $small;
  margin: 0 2em;
  padding: 1em;
  display: none;
  @media print {
      display: none;
  }
  h2 {
    border-bottom: $largeBorder #244751;
    margin: 0 0 1em;
  }
  textarea {
    margin-bottom: $small;
    padding: $small;
    width: 100%;
  }
  .counter {
    float: right;
    font-size: $smallFont;
    margin-top: $small;
  }
  .error {
    color: $error;
  }
  .flash_message {
    color: $error;
  }
}