.tweet {
  border: 1px solid $borderColor;
  border-radius: $small;
  margin: 2em;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  &:hover .actions{
    opacity: 1;
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $backgroundColor;
    height: 86px;
    padding: 1em;
  }
  .name{
    font-size: $largeFont;
    font-weight: bolder;
    align-self: center;
    margin-right: auto;
  }
  .avatar{
    align-self: center;
    border-radius: $small;
    float: left;
    height: $large;
    margin-right: $medium;
    width: $large;
  }
  .username{
    align-self: flex-start;
    font-size: $smallFont;
    margin-top: $small;
  }
  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $borderColor;
    font-size: $smallFont;
    padding: $small;
  }
  .actions{
    align-self: center;
    opacity: 0;
    padding-left: $small;
     span{
      padding-left: $small;
    }
  }
}